# Server
ofrserver/.vs/*
ofrserver/Server/Server/obj/*
bin/*

ofrserver/Server/FreeRealms/obj/*
ofrserver/Server/LibSOE/obj/*
ofrserver/Gateway/obj/*
ofrclient/*
Web Assets.7z
ofrserver/Server/Server/Program.cs
