# Server
ofrserver/.vs/*
ofrserver/Server/Server/obj/*
bin/*

ofrserver/Server/FreeRealms/obj/*
ofrserver/Server/LibSOE/obj/*
ofrserver/Gateway/obj/*

# Client
ofrclient/Logs/*
ofrclient/ThemeParseLog.txt

# Client RE
ofrclient/FreeRealms.exe.idb
