
::-webkit-scrollbar {width: 12px; height: 12px; background-color: #f2f2f1; }

::-webkit-scrollbar-track { border-radius: 10px; border: 1px solid #bbb7b3; background: -webkit-gradient(linear, left top, right top, color-stop(0, #dcd9d7), color-stop(1, #e5e3e2)); }

::-webkit-scrollbar-thumb {  border-radius: 10px; -webkit-box-shadow: inset 1px 0 0 1px white; border: 1px solid #9c9996; background: -webkit-gradient(linear, left top, right top, color-stop(0, #f9f9f8), color-stop(1, #e6e4e3)); }

::-webkit-scrollbar-track-piece:disabled { display: none !important; }

::-webkit-scrollbar-track:disabled { margin: 6px; }